.shoppingCart {
    height: 100vh;
    margin: auto;
    width: 70%;
}

.title {
    float: left;
}

.shoppingcart-content {
    clear: both;
    position: relative;
    display: flex;
    margin: auto;
}

.shoppingcart-items {
    display: inline-block;
    float: left;
    margin-right: 1em;
}

.shoppingcart-info {
    height: 130px;
    position: absolute;
    right: 0;
    margin-right: auto;
    background: white;
    float: left;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 1em;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.to-checkout {
    margin: 1em 0;
}