.productContainer {
    margin: 30px auto;
    width: 60%;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
    background-color: white;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.productImage2 {
    display: block;
    float: right;
    width: 200px;
    height: 100%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.productName2 {
    font-size: 20px;
    font-weight: bold;
    float: left;
    color: red;
    margin: auto;
}

.productMeasurements1 {
    float: left;
    margin: 10px auto;
}

.productStock1 {
    float: left;
    margin: auto;
}

.additionalInfo1 {
    float: left;
    margin: 0 0 0 0;
    width: 300px;
    text-align: left;
    font-weight: normal;
}

.productInfoContainer2 {
    margin: auto;
}

.cartButtonContainer2 {
    text-align: center;
    margin: auto;
    float: left;
    width: 120px;
    height: 40px;
}

.cartButton2 {
    width: 100%;
    height: 100%;
    display: block;
    margin: 10px auto;
}

.priceTag2 {
    background-color: deepskyblue;
    border-radius: 5px;
    width: 120px;
    height: 30px;
    margin: auto;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.price2 {
    color: white;
    font-weight: bold;
    font-size: 20px;

}

.rightSide2 {
    width: 33%;
    height: 100%;
    float: right;
    display: block;
    text-align: center;
    align-content: center;
}

.leftSide2 {
    float: left;
}