.products {
    margin: auto 200px auto auto;
    max-width: 100%;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
}

.searchBar {
    margin-left: 30px;
}

#input {
    margin-left: 5px;
}

@media screen and (max-width: 600px){
    .products{
        justify-content: center;
    }

    .searchBar {
        visibility: hidden;
    }
}

