.products {
    margin: auto;
    width: 55%;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

.searchBar {
    margin: 20px 25px 20px 5px
}

#input {
    margin-left: 5px;
}


